@page
@model LeapYearApp.Pages.SearchHistoryModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2 mb-3">
    <div class="container">
        <h1>Historia wyszukiwań</h1>
    </div>
</div>

@if (Model.YearNameForms != null && Model.YearNameForms.Any())
{
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Login</th>
                    <th scope="col" class="text-center">UserID</th>
                    <th scope="col" class="text-center">Imię</th>
                    <th scope="col" class="text-center">Rok</th>
                    <th scope="col" class="text-center">Czy przestępny?</th>
                    <th scope="col" class="text-center">Data wyszukania</th>
                    <th scope="col" class="text-center">Edycja</th>
                    <th scope="col" class="text-center">Usunięcie</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.YearNameForms)
                {
                    <tr>
                        <td class="text-center">@item.Login</td>
                        <td class="text-center">@item.UserId</td>
                        <td class="text-center">@item.Name</td>
                        <td class="text-center">@item.Year</td>
                        <td class="text-center">@((item.IsLeapYear) ? "Tak" : "Nie")</td>
                        <td class="text-center">@item.PublishedDate</td>
                        <td class="text-center"><a href="/EditYearNameFormRequest/@item.Id" class="btn btn-primary">Edit</a></td>
                        <td class="text-center">
                            <form asp-page-handler="Delete" method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.YearNameForms.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.YearNameForms.HasNextPage ? "disabled" : "";
        }

        <a asp-page="./SearchHistory"
       asp-route-pageIndex="@(Model.YearNameForms.PageIndex - 1)"
       class="btn btn-primary @prevDisabled">
            Previous
        </a>
        <a asp-page="./SearchHistory"
       asp-route-pageIndex="@(Model.YearNameForms.PageIndex + 1)"
       class="btn btn-primary @nextDisabled">
            Next
        </a>
    </div>
}
else
{
    <div class="container">
        <p>Lista jest pusta :(</p>
    </div>
}

